*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: #fff;
    --text-color: #fff;
    --main-color: #2d3748;
}

body{
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12%;
    transition: all .50s ease;
    background: #309794;
    opacity: 1;

    .logo{
        display: flex;
        align-items: center;
        position: relative;
        right: 100px;
        height: 70px;

        h1{
            color: white;
        }

        img{
            margin: 1px;
            height:60px;
            width: 70px;
            border-color: chocolate;
        }
    }



    /* --------------navbar part------------- */

    .navbar{
        display: flex;
        a{
            color: var(--text-color);
            font-size: 1.1rem ;
            font-weight: 500;
            padding: 5px 0;
            margin: 0px 30px;
            transition: all .50s ease;
        }

        a:hover{
            color: var(--main-color);
        }

        a:active{
            color:var(--main-color)
        }

    }
}


#page1{
    align-items: center;
    margin: 80px 0 0 0;
    padding:30px 0 0 0;

/* *------------- content part -------------------*/

.content{
    width: 100%;
    height: 100%;
    padding: 5%;

    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4rem;
        line-height: 4rem;
        color: rgb(55, 51, 51);
    }

    h2{
        text-align: center;
        font-size: 3rem;
        color:  rgb(55, 51, 51);
        margin-bottom: 50px;

        span{
            color: #349790;
        }
    }

    p{
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5rem;
        color: gray;
    } 
}
}

.buttons{
    display: flex;
    justify-content: center;
    padding: 20px;
    gap:1.5%;  
    margin-top: -3%;
    
    p{
        background-color:#309794;
        border-color: #309794;
        padding:8px 40px;
        border-radius: 10px;
        color: #fff;
        font-weight: 800;
        box-shadow: rgba(140, 157, 165, 0.2) 0px 8px 24px;
        cursor: pointer;
    }

    p:hover{
        background: #2d3748;
        color: rgb(244, 244, 244);
    }
}
.main{

    .user{
        size: 300px;
    }
}

#sec2{

    .box{
        height: 400px;
        width: 100%;
        align-items: center;

        p{
            padding-top: 70px;
            text-align: center;
            color: gray;
        }


        .add-img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 650px;
            margin-left: 27%;
            margin-top: 10px;
            height: 80px;

            img{
            height: 250px;
            width: 250px;
            padding-right: 50px;

            }
        }

    }
}

.bar i{
    font-size: 2rem;
    color: #fff;

}

/*--------------- media query part-------------  */

@media screen and (max-width:950px){
    header .navbar{
        display: none;
    }
}








