body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  
  .container {
    
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  
  h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  
  p {
    font-size: 1em;
    color: #555;
  }

  .font-sizes {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e8f0;
    margin-bottom: 24px;
}

.font-sizes span {
    display: block;
    font-size: 16px;
    color: #718096;
    margin-bottom: 8px;
}

   
  .code-example {
    background-color: #2D3748;
    color: #E2E8F0;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  
  .code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875em;
    color: #A0AEC0;
  }
  
  
  .copy-btn {
    background-color: #38A169;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.875em;
    transition: background-color 0.3s ease;
  }
  
  .copy-btn:hover {
    background-color: rgb(201, 198, 198);
  }
  
  
  pre {
    background-color: rgba(128, 128, 128, 0.367);
    border-radius: 5px;
    margin: 0;
    padding: 15px;
    color: #9AE6B4;
    overflow-x: auto; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
  }
  
  code {
    white-space: pre-wrap; 
    word-wrap: break-word; 
    font-size: 1em; 
  }
  
  



  
.button-group {
    display: flex;
    gap: 10px;
}


.button-group .btn {
    display: flex;
    align-items: center;
    background-color: #F7FAFC;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    color: #2D3748;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button-group .btn i {
    margin-right: 8px;
}

.button-group .btn:hover {
    background-color: #EDF2F7;
    border-color: #CBD5E0;
}
